<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2><b>No Tienes Cuenta, Createla</b></h2>
    <form action="registro.php" method="post">
        - <input type="text" name="usuario" placeholder="Diposite su nombre...">
        <br> - <input type="text" name="correo" placeholder="Diposite su correo...">
        <br> - <input type="password" name="pwd" placeholder="Diposite su contraseña...">
        <br>
        <br>
        <input type="submit" name="registrar">
    </form>

</body>

</html>