<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../css/view.css">
    <title>Document</title>
</head>

<body id="main_body">
    <h2><b>Registrate</b></h2>
    <br>
    <br>
    <form action="registro.php" method="post">
        <b>Nombre</b>
        <br>
        <br>
        <input type="text" name="usuario">
        <br>
        <br>
        <b>Correo</b>
        <br>
        <br>
        <input type="text" name="correo">
        <br>
        <br>
        <b>Contraseña</b>
        <br>
        <br>
        <input type="password" name="pwd">
        <br>
        <br>
        <input type="submit" name="registrar">
    </form>

</body>

</html>