<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2><b>Subir Archivos</b></h2>
    <form action="subiractividades.php" method="post">
        <input type="date" name="fecha" placeholder="Fecha">
        <br>
        <br>
        <input type="text" name="descripcion" placeholder=" Descripcion">
        <br>
        <br>
        <input type="file" name="imagen" placeholder="Imagen">
        <br>
        <br>
        <input type="time" name="tiempo" placeholder="Tiempo">
        <br>
        <br>
        <input type="text" name="autor" placeholder="Autor">
        <br>
        <br>
        <input type="text" name="topics" placeholder="Topics">
        <br>
        <br>
        <input type="submit" name="Subir Archivo">
    </form>

</body>

</html>